
body {
    font: 20px Lucida
}
.navbar {
    background-color: #CF9079;
}

.quem-somos {
    background-color: #F3EEE5;
    color: #404240;
    font: 20px Lucida
}

.margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.parceiros {
    background-color: #DBC6BE;
    padding: 10px;
    color: #404240;
    font: 20px Lucida
}

.servicos {
    background-color: #F3EEE5;
    color: #404240;
    font: 20px Lucida
}

.bg-footer {
    background-color: #DBC6BE;
    color: #404240;
    font: 10px Lucida
}